@charset "UTF-8";

$globalBgColor:rgb(100,100,100);



.app-header{
   width:100%;
   height: 250px;
   background: $globalBgColor;
   position: relative;
   font-size:18px;
   &-h3{
     -webkit-transition: all .5s;
     -moz-transition: all .5s;
     -o-transition: all .5s;
     transition: all .5s;
     opacity: 0.8;
     position: absolute;
     top:50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 3em;
     color:white;
     cursor: pointer;
     text-align: left;
     padding-left: 50px;
     font-weight: 100;
   }
   &-h3:hover{
     opacity: 1;
   }
}

.app-main{
  width:100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  &-left,&-right{
     width:50%;
     height: 100%;
     padding:10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
}

.app-footer{
  width:100%;
  height: 120px;
  background-color: $globalBgColor;
  color:white;
  text-align: center;
  line-height: 120px;
  font-size: 14px;
}


@media all and (max-width:420px) {
  .app-header{
    font-size: 12px;
    height: 180px;
    &-h3{
      padding-left: 25px;
      cursor: default;
    }
  }
  .app-main{
     &-left,&-right{
       width:100%;
     }
   }
}


@media all and (max-width:320px) {
  .app-header{
    font-size: 10px;
    height: 180px;
    &-h3{
      padding-left: 15px;
    }
  }
}